<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<hr>
<header class="header">
  <ul>
    <li><a routerLink="/page-a">page-a</a></li>
    <li><a routerLink="/page-b">page-b</a></li>
    <li><a routerLink="/page-c">page-c</a></li>
    <!-- routerLinkActive 可以设置一个 class  -->
    <!-- <a routerLink="/user/login" routerLinkActive="class1 class2">login</a>
    <a routerLink="/user/login" [routerLinkActive]="['class1', 'class2']">login</a> -->
    <li><a [routerLink]="['/page-a']" routerLinkActive="red">page-a</a></li>
    <li><a [routerLink]="['/page-b']" routerLinkActive="blue">page-b</a></li>
    <li><a [routerLink]="['/page-c/ccccccc']" routerLinkActive="yellow">page-c</a></li>
    <hr>
    <!-- 如果想要浏览器URL跳转 需要skipLocationChange 参数 //TODO 未起作用-->
    <li><a [routerLink]="['/page-a']" skipLocationChange=true>page-a</a></li>
    <li><a [routerLink]="['/page-b']" skipLocationChange=true>page-b</a></li>
    <li><a [routerLink]="['/page-c/ccccccc']" [skipLocationChange]="{exact: true}">page-c</a></li>
  </ul>
</header>
<h1>Root Component</h1>
<router-outlet></router-outlet>
<hr>
<app-product></app-product>
<hr>
<app-panle-a></app-panle-a>
<hr>
<app-panle-b></app-panle-b>
<hr>
<app-request-from-server></app-request-from-server>
<hr>
<app-demo-todo-list></app-demo-todo-list>
<hr>
<app-basic></app-basic>
<hr>
<app-two-way-data-binding></app-two-way-data-binding>